/* ==================================
  About
================================== */

.c-about__grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--space-4);
}

.c-about__grid-item {
  padding: var(--space-3);
}

.c-icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-4);
  cursor: pointer;
}

.c-icon__container svg {
  transform-origin: center center;
  display: block;
  width: 100%;
}

.c-icon__container svg path {
  fill: var(--color-ink);
  transition: var(--trans-quick);
}

.c-icon__container:hover svg path {
  fill: var(--color-rust);
}

.c-about__display {
  display: flex;
  gap: var(--space-5);
  margin-top: var(--space-5);
  perspective: 1200px;
}
.c-about__display .o-media__container {
  flex: 0 0 30%;
  aspect-ratio: 1/1;
}

.c-about__display .o-media__container img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-about__faq {
  flex-grow: 2;
  perspective: 1200px;
}

.c-card {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 8;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
}

.c-card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column; 
  gap: var(--space-3);
  padding: var(--space-5);
  border: var(--rule-bold);
  /* outline: var(--rule-bold);
  outline-offset: -10px; */
}

.c-card__face--front {
  background-color: #f6f5f2;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23171717' fill-opacity='1'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.c-card__face--back {
  transform: rotateY(180deg);
    outline: var(--rule-bold);
  outline-offset: -10px;
}

.c-card__fact-key {
  font-family: var(--font-mono);
  font-weight: bold;
  font-size: var(--fs-lg)
}

.c-card__fact-value {
  text-wrap: pretty;
}

@media screen and (max-width: 1023px) {
  .c-about__display {
    flex-direction: column-reverse;
  }

  .c-icon__container {
    padding: var(--space-3);
  }

}

@media screen and (max-width: 767px) {
  .c-card {
    aspect-ratio: 1/1;
  }

  .c-card__face {
    padding: var(--space-4);
  }

  .c-icon__container {
    padding: 0;
  }

  .c-about__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .c-icon__container.--doceca,
  .c-icon__container.--icosa {
    display: none;
  }
}