
.o-section.c-contact {
  padding-bottom: var(--space-6);
}

.c-contact__links {
  display: flex;
  gap: var(--space-4);
  justify-content: center;
}

.c-contact__links .c-cta {
  font-size: var(--fs-lg);
  white-space: nowrap;
}

@media screen and (max-width: 767px) {

  .o-section.c-contact {
    padding-left: var(--space-4);
    padding-right: var(--space-4);
  }

  .c-contact__links {
    gap: var(--space-3);
  }
  .c-contact__links .c-cta {
    font-size: calc(var(--fs-lg) * 0.75)
    
  }

}