/* ==================================
    Hero
   ================================== */
  
  .c-hero {
    min-height: 50vh;
  }

  .c-hero__title {
    padding-top: var(--space-7);
    font-family: var(--font-display);
    font-size: var(--fs-xxl);
    line-height: 0.9em;
    letter-spacing: 0.02em;
    margin: auto;
  }

  .c-hero__title-accent {
    color: var(--color-rust);
    font-size: calc(var(--fs-xxl) * 0.75);
  }

  .c-hero__subtitle {
    font-family: var(--font-mono);
    font-size: var(--fs-lg);
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20px);
  }
