/* ==================================
    Hero
   ================================== */
  
  .c-hero {
    min-height: 50vh;
  }

  .cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background: currentColor;
    margin-left: 4px;
    transform: translateY(3px);
  }

  .c-hero__title {
    padding-top: var(--space-7);
    font-family: var(--font-display);
    font-size: var(--fs-xxl);
    line-height: 0.9em;
    letter-spacing: 0.02em;
    margin: auto;

  }

  .c-hero__subtitle {
    font-family: var(--font-mono);
    font-size: var(--fs-lg);
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20px);
  }
